In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import datetime

In [2]:
# Request to website and download HTML contents
movie_url = "https://www.boxofficemojo.com/year/world/2024/"

# Make a request
req = requests.get(movie_url)
content = req.text

# Use Beautiful Soup
soup = BeautifulSoup(content)

In [4]:
# Inspect page data to determine out to set up the scraping algorithm
rows = soup.findAll('tr')
data = rows[1].findAll('td')
data

[<td class="a-text-right mojo-header-column mojo-truncate mojo-field-type-rank mojo-sort-column">1</td>,
 <td class="a-text-left mojo-field-type-release_group"><a class="a-link-normal" href="/releasegroup/gr2058375685/?ref_=bo_ydw_table_1">Dune: Part Two</a></td>,
 <td class="a-text-right mojo-field-type-money">$711,844,358</td>,
 <td class="a-text-right mojo-field-type-money">$282,144,358</td>,
 <td class="a-text-right mojo-field-type-percent">39.6%</td>,
 <td class="a-text-right mojo-field-type-money">$429,700,000</td>,
 <td class="a-text-right mojo-field-type-percent">60.4%</td>]

In [5]:
# Inspect page data to determine out to set up the scraping algorithm

for i in range(len(data)):
    print(data[i].text)

1
Dune: Part Two
$711,844,358
$282,144,358
39.6%
$429,700,000
60.4%

In [12]:
data[2].text == data[3].text

False

In [13]:
#Test data construction

appended_data = []
for row in rows:
    data_row = {}
    data = row.findAll('td')
    if len(data) == 0:
        continue
    if data[2].text == data[3].text:
        #check if title makes released internationally
        data_row['is_international'] = 'No'
    else:
        data_row['is_international'] = 'Yes'
        
    data_row['title'] = data[1].text
    data_row['worldwide_gross'] = data[2].text
    data_row['domestic_gross'] = data[3].text
    data_row['domestic_percentage'] = data[4].text
    data_row['foreign_gross'] = data[5].text
    data_row['foreign_percentage'] = data[6].text.strip()
    appended_data.append(data_row)
movie_data = pd.DataFrame(appended_data, columns = ['title', 'worldwide_gross', 'domestic_gross', 'domestic_percentage', 'foreign_gross', 'foreign_percentage'])

In [14]:
movie_data.head(3)

,title,worldwide_gross,domestic_gross,domestic_percentage,foreign_gross,foreign_percentage
0,Dune: Part Two,"$711,844,358","$282,144,358",39.6%,"$429,700,000",60.4%
1,Godzilla x Kong: The New Empire,"$564,100,055","$194,800,055",34.5%,"$369,300,000",65.5%
2,Kung Fu Panda 4,"$536,661,406","$192,945,885",36%,"$343,715,521",64%

In [17]:
# Create write function
def scrape_movie_summary(year):
    url=f'https://www.boxofficemojo.com/year/world/{year}/'
    req=requests.get(url)
    content=req.text
    soup=BeautifulSoup(content)
    rows=soup.findAll('tr')
    appended_data = []

    for row in rows:
        data_row = {}
        data = row.findAll('td')
        if len(data) == 0:
            continue
        if data[2].text == data[3].text:
            #check if title makes released internationally
            data_row['is_international'] = 'No'
        else:
            data_row['is_international'] = 'Yes'
        
        data_row['title'] = data[1].text
        data_row['worldwide_gross'] = data[2].text
        data_row['domestic_gross'] = data[3].text
        data_row['domestic_percentage'] = data[4].text
        data_row['foreign_gross'] = data[5].text
        data_row['foreign_percentage'] = data[6].text.strip()
        appended_data.append(data_row)
    
        movie_data = pd.DataFrame(appended_data, columns = ['title', 'worldwide_gross', 'domestic_gross', 'domestic_percentage', 'foreign_gross', 'foreign_percentage', 'is_international']) 

    movie_data.to_csv(f'/Users/beek/GitHub_Repo/boxoffice_scaping_analysis/movie_worldwide_datasource/movie_worldwide_{year}.csv', index=False)

In [18]:
#Get current year
todays_date = datetime.date.today()
current_year = todays_date.year

years = range(1982, current_year+1)

for year in years:
    print(year)
    scrape_movie_summary(year)

1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024